################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/bin/Debug
/Data/obj/Debug
/FirstProject/bin
/FirstProject/obj/Debug
