@model FirstProject.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>UserName</td>
            <td>
                @Html.EditorFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                @Html.PasswordFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td>
                @Html.ActionLink("Sign Up", "Create")
            </td>
        </tr>

    </table>
}