@model FirstProject.ViewModels.CreateTenantViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <table>
       
        
        <tr>
            <td>TenantFirstName</td>
            <td>@Html.EditorFor(model => model.TenantFirstName)</td>
        </tr>
        <tr>
            <td>TenantLastName</td>
            <td>@Html.EditorFor(model => model.TenantLastName)</td>
        </tr>
        
        <tr>
            <td>
                <input type="submit" value="submit" />
            </td>
        </tr>

    </table>
}









