@model FirstProject.ViewModels.EditRentPaymentViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>PaymentDate</td>
            <td>@Html.EditorFor(model => model.PaymentDate)</td>
        </tr>
        <tr>
            <td>IsPaid</td>
            <td>@Html.EditorFor(model => model.IsPaid)</td>
        </tr>
        <tr>
            <input type="submit" value="Save" />
        </tr>
    </table>
}

